@{
    ViewData["Title"] = "Roczny plan urlopowy ";
}

<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4 mb-5">
            <div class="card card-1 h-100">
                <div class="card-body">
                    <i class="bi bi-calendar3" style="font-size: 4rem;"></i>
                    <h3 class="card-title">Planowanie rocznego urlopu</h3>
                    <p class="card-text">W łatwy sposób możesz zaplanować swój urlop na cały rok.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card card-2 h-100">
                <div class="card-body">
                    <i class="bi bi-people" style="font-size: 4rem;"></i>
                    <h3 class="card-title">Udostępnij plan znajomym / współpracownikom</h3>
                    <p class="card-text">Możesz zaprosić znajomych / współpracowników, abyście mogli mieć wgląd do swoich planów na wybrany rok.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card card-3 h-100">
                <div class="card-body">
                    <i class="bi bi-envelope" style="font-size: 4rem;"></i>
                    <h3 class="card-title">Powiadomienia e-mail o zbliżającym się urlopie</h3>
                    <p class="card-text">Na 7 dni przed zbliżającym się urlopem otrzymasz powiadomienie.</p>
                </div>
            </div>
        </div>
    </div>
</div>
