@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Podsumowanie";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź, czy na Twoją skrzynkę dodarła wiadomść z linkiem umożliwiającym reset hasła.
</p>
